# ENVVARS and examples values:
#  - KUBE_SERVER_IP=192.168.0.70

apiVersion: v1
kind: Config
clusters:
- cluster:
    server: http://{{KUBE_SERVER_IP}}:8080
  name: default
contexts:
- context:
    cluster: default
    user: ""
  name: default
current-context: default
preferences: {}
users: []